<nav>
  <ul>
      <li class="nav-item"><a href="/tabla-tramite"><img src="images/Tramites.png" alt="Mis Trámites" class="icono"></a><p>Mis Tramites</p></li>
      <li class="nav-item"><a href="/calendario"><img src="images/Calendario.png" alt="Calendario" class="icono"></a><p>Calendario</p></li>
      <li class="nav-item"><a href="/estadisticas"><img src="images/Estadisticas.png" alt="Estadísticas" class="icono"></a><p>Estadisticas</p></li>
      <li class="nav-item"><a href="/historial"><img src="images/Historial.png" alt="Historial" class="icono"></a><p>Historial</p></li>
  </ul>
</nav>
