.containerM {
  display: flex;
  background-color: #E7EBF5;
}
.contenedor {
  width: 100%;
}
.container {
  width: 80%;
  margin: 50px auto;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.RegNotPer {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"], select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  border: solid 1px black;
  border-radius: 4px;
  cursor: pointer;
}
.titulo {
  padding: 10px;
  background-color: #A3B6E6;
  height: 40px;
}
.titulo h2 {
  color: white;
}

.flex {
  display: flex;
}
.left {
  width: 35%;
  padding: 40px;
}
.right {
  width: 65%;
  padding: 40px;
  border-left: solid 2px #ccc;
}

.modification-table {
  width: 100%;
  border-collapse: collapse;
}
.modification-table th,
.modification-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.modification-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}
.modification-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.modification-table tbody tr:nth-child(odd) {
  background-color: #e7ebf5;
}
.modification-table tbody tr:hover {
  background-color: #cbd4e8;
}

.fin {
  text-align: center;
  margin-top: 20px;
}
#datosSol {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}
