<div class="container">
  <h2 class="titulo">Documentos Devueltos para Corrección</h2>
  <div class="documentos">
    <div *ngFor="let documento of documentos" class="documento" [ngClass]="getEstadoClase(documento.id)">
      <strong>{{ documento.nombre }}:</strong>
      <div *ngIf="estadosDocumentos[documento.id] === 'aprobado'">Aprobado</div>
      <div *ngIf="estadosDocumentos[documento.id] === 'noAprobado'">No Aprobado</div>
      <div *ngIf="estadosDocumentos[documento.id] === 'noRevisado'">No Revisado</div>

      <button class="btn-revisar" (click)="revisarDocumento(documento.nombre, documento.id)">Revisar</button>
    </div>
  </div>

  <button class="btn-regresar" (click)="regresar()">Regresar</button>

  <button
    class="btn-continuar"
    [disabled]="!documentosAprobados"
    (click)="continuar()"
  >
    Continuar
  </button>
</div>
