<app-ar-layout>
<div class="container">
  <div class="tramite-info">
    <h3>Información del Trámite</h3>
    <p><strong>Número Radicado:</strong> {{ solicitud.tramite.numeroRadicado }}</p>
    <p><strong>Nombre del Producto:</strong> {{ solicitud.tramite.nombreProducto }}</p>
    <p><strong>Descripción del Producto:</strong> {{ solicitud.tramite.descripcionProducto }}</p>
    <p><strong>Tipo de Trámite:</strong> {{ solicitud.tramite.tipoProducto }}</p>
    <p><strong>Nacionalidad:</strong> {{ solicitud.tramite.tipoTramite }}</p>
    <p><strong>Solicitante:</strong> {{ solicitud.solicitante.nombre }}</p>


    <p *ngIf="solicitud.tramite.tipoTramite === 'NACIONAL'">Seleccione una opción acorde a la respuesta del Invima</p>
    <p *ngIf="solicitud.tramite.tipoTramite === 'INTERNACIONAL'">Seleccione una opción acorde a la respuesta de la entidad sanitaria</p>

    <div class="action-buttons">
      <button (click)="aprobarTramite()">Aceptado</button>
      <button (click)="autoRequerimiento()">Autorequerimiento</button>
      <button (click)="rechazarTramite()">Rechazado</button>
    </div>


  </div>

</div>
</app-ar-layout>
