<app-admin-layout>
  <div class="ContenedorTablaExcel">
    <div class="TituloTablaExcel">
      <h2>Información De Control</h2>
    </div>
    <table class="ExcelTable">
      <thead>
      <tr>
        <th>Fecha Solicitud</th>
        <th>Fecha Envío Documentos</th>
        <th>Fecha Terminación Trámite</th>
        <th>Fecha de Notificación</th>
        <th>País</th>
        <th>Registro Sanitario (RSA) de Colombia</th>
        <th>Expediente RSA</th>
        <th>#Intención (ID Seguimiento)</th>
        <th>Radicado o Expediente</th>
        <th>Llave RSA Colombia</th>
        <th>Fecha de Radicado Invima</th>
        <th>Estado del Trámite</th>
        <th>Urgente?</th>
        <th>Fecha de Llegada Resolución</th>
        <th>Ok Satisfactorio Invima</th>
        <th>#RSA/NSA País</th>
        <th>Se Requiere</th>
        <th>Origen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td>{{ solicitud.fechaSolicitud | date: 'dd/MM/yyyy' }}</td>
        <td>{{ solicitud.tramite?.fechaRadicacion | date: 'dd/MM/yyyy' }}</td>
        <td>{{ solicitud.tramite?.etapa }}</td> <!-- Campo de ejemplo -->
        <td></td> <!-- Campo sin datos en TramiteDTO -->
        <td>{{ solicitud.tramite?.entidadSanitariaId }}</td>
        <td>{{ solicitud.tramite?.numeroRadicado }}</td>
        <td></td> <!-- Campo sin datos en TramiteDTO -->
        <td>{{ solicitud.tramite?.tipoModificacion }}</td>
        <td>{{ solicitud.tramite?.numeroRadicado }}</td>
        <td>{{ solicitud.tramite?.llave }}</td>
        <td>{{ solicitud.tramite?.fechaRadicacion | date: 'dd/MM/yyyy' }}</td>
        <td>{{ solicitud.tramite?.estado }}</td>
        <td>{{ solicitud.tramite?.tipoTramite === 'URGENTE' ? 'Sí' : 'No' }}</td>
        <td></td> <!-- Campo sin datos en TramiteDTO -->
        <td></td> <!-- Campo sin datos en TramiteDTO -->
        <td>{{ solicitud.tramite?.proyecto }}</td>
        <td>{{ solicitud.tramite?.pt ? 'Sí' : 'No' }}</td>
        <td>{{ solicitud.tramite?.unidadNegocio }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-admin-layout>
