.ContenedorTablaExcel {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  background-color: #e7ebf5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
}

.TituloTablaExcel {
  position: relative;
  background-color: #a3b6e6;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  height: 3rem;
}

.TituloTablaExcel h2 {
  position: fixed;
  left: 50%;
  margin-top: 2px;
  transform: translateX(-50%);
}

.table-container {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

.ExcelTable {
  border-collapse: collapse;
  background-color: #ffffff;
}

.ExcelTable th {
  background-color: #afccef;
  color: #4e5a7d;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #d0cfce;
  font-size: 14px;
}

.ExcelTable td {
  padding: 10px;
  border: 1px solid #d0cfce;
  color: #4e5a7d;
  font-size: 14px;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ExcelTable tr:nth-child(even) {
  background-color: #f4f7fb;
}

.ExcelTable tr:hover {
  background-color: #e0e7f1;
}
