<app-solicitante-layout>
  <div class="ContenedorTablaExcel">
    <div class="TituloTablaExcel">
      <h2>Información De Control</h2>
    </div>
    <table class="ExcelTable">
      <thead>
      <tr>
        <th>Fecha Solicitud</th>
        <th>Fecha Envío Documentos</th>
        <th>Fecha Terminación Tramite</th>
        <th>Fecha de Notificación</th>
        <th>País</th>
        <th>Registro sanitario (RSA) de Colombia</th>
        <th>Expediente RSA</th>
        <th>#intencion (ID seguimiento)</th>
        <th>Radicado o Exp</th>
        <th>Llave RSA Colombia</th>
        <th>Fecha de Radicado invima</th>
        <th>Estado del trámite</th>
        <th>Urgente?</th>
        <th>Fecha de llegada resol</th>
        <th>Ok Satisfactorio Invima</th>
        <th>#RSA/NSA PAÍS</th>
        <th>Se Requiere</th>
        <th>Origen</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>23/10/2022</td>
        <td>21/11/2022</td>
        <td>1/01/2023</td>
        <td>12/01/23</td>
        <td>MEXICO</td>
        <td>RSA-0023312</td>
        <td> </td>
        <td>EG4-ASM-BNJP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>EN_REVISION</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      <tr>
        <td>25/11/2022</td>
        <td>29/11/2023</td>
        <td>12/01/2024</td>
        <td>14/01/23</td>
        <td>ARGENTINA</td>
        <td>RSA-0023112</td>
        <td> </td>
        <td>FR4-IUM-BPVP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>APROBADO</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      <tr>
        <td>25/11/2022</td>
        <td>29/11/2022</td>
        <td>12/01/2023</td>
        <td>14/01/23</td>
        <td>BRASIL</td>
        <td>RIA-0023112</td>
        <td> </td>
        <td>RY4-RUM-BPVP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>RECHAZADO</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      <tr>
        <td>25/11/2022</td>
        <td>29/11/2022</td>
        <td>12/01/2023</td>
        <td>14/01/23</td>
        <td>COLOMBIA</td>
        <td>RSA-0023112</td>
        <td> </td>
        <td>RY4-RUM-BPVP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>APROBADO</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      <tr>
        <td>25/11/2022</td>
        <td>29/11/2022</td>
        <td>12/01/2023</td>
        <td>14/01/23</td>
        <td>CHILE</td>
        <td>RSA-0023112</td>
        <td> </td>
        <td>OK4-RUM-BPVP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>EN_REVISION</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      <tr>
        <td>25/11/2022</td>
        <td>29/11/2022</td>
        <td>12/01/2023</td>
        <td>14/01/23</td>
        <td>PERU</td>
        <td>PKA-0023112</td>
        <td> </td>
        <td>RY4-RUM-BPVP</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>PENDIENTE</td>
        <td>Si</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>si</td>
        <td>Correo-e Solicitud</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-solicitante-layout>

