.ContenedorTablaExcel {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  background-color: #e7ebf5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
}

.TituloTablaExcel {
  background-color: #a3b6e6;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  height: 3rem;
}

.TituloTablaExcel h2 {
  position: sticky;
  left: 0;
  margin-top: 3px;
}

.table-container {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

.ExcelTable {
  border-collapse: collapse;
  background-color: #ffffff;
}

.ExcelTable th {
  background-color: #afccef;
  color: #4e5a7d;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #d0cfce;
  font-size: 14px;
}

.ExcelTable td {
  padding: 10px;
  border: 1px solid #d0cfce;
  color: #4e5a7d;
  font-size: 14px;
  text-align: center;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ExcelTable tr:nth-child(even) {
  background-color: #f4f7fb;
}

.ExcelTable tr:hover {
  background-color: #e0e7f1;
}

footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination {
  display: flex;
}

.page-button {
  background-color: #a3b6e6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
}

.info-page {
  margin: auto 0;
}

.search-container {
  position: relative;
  height: 60px;
  display: flex;
  height: 40px;
  font-size: 1rem;
  border-radius: 20px;
  outline: none;
  width: min-content;
  margin-bottom: 1rem;
  &:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}
.icons img {
  margin-right: 20px;
}
.search-icon {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

input#search-bar {
  width: 720px;
  height: 40px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  border-radius: 20px;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf;
}

input#search-bar::placeholder {
  color: #b0b0b0;
  transition: opacity 0.45s ease;
}
