<app-solicitante-layout>
  <div id="page">
    <div class="containerint">
      <h1>Revisión del Trámite A8</h1>
      <p>ID Trámite: {{ tramiteId }}</p>

      <!-- Botones de Aceptar y Rechazar para el trámite -->
      <div *ngIf="!isRejected" class="button-container">
        <button class="btn-primary" (click)="acceptTramite()">Aceptar</button>
        <button class="btn-primary" (click)="enableRejectionReason()">Rechazar</button>
      </div>

      <!-- Campo de razón de rechazo, aparece cuando se activa el estado de rechazo -->
      <div *ngIf="isRejected" class="textarea-container">
        <label for="rejection-reason">Razón del Rechazo:</label>
        <textarea
          id="rejection-reason"
          [(ngModel)]="rejectionReason"
          placeholder="Ingrese la razón del rechazo"
          required
        ></textarea>
        
        <!-- Mensaje de error si la razón del rechazo está vacía -->
        <p *ngIf="rejectionReason.trim() === ''" style="color: red;">
          Por favor, ingrese una razón de rechazo antes de enviar.
        </p>

        <!-- Botón para enviar la razón de rechazo -->
        <div class="button-container">
        <button
        class="btn-primary"
        (click)="submitRejection()"
        [disabled]="rejectionReason.trim() === ''"
        >
          Enviar Rechazo
        </button>
      </div>

      </div>
    </div>
  </div>
</app-solicitante-layout>
