<app-ar-layout>
  <head>
    <link rel="stylesheet" href="./info-control.component.css" />
  </head>
  <form class="form-tramite">
    <div class="header">
      <p>Formulario de Información del Trámite</p>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Solicitud</p>
        <input type="date" class="input-text" [value]="tramite.fechaSolicitud" disabled />
      </div>
      <div class="form-group">
        <p class="label">Fecha Envío Documentos</p>
        <input type="date" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Terminación Trámite</p>
        <input type="date" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Fecha de Notificación</p>
        <input type="date" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">País</p>
        <input type="text" class="input-text" [value]="entidadSanitaria.pais" disabled />
      </div>
      <div class="form-group">
        <p class="label">Registro Sanitario (RSA)</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Expediente RSA</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label"># Intención (ID de seguimiento)</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Radicado o Exp.</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Llave RSA</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">
          Fecha Radicado
          {{
            tramite.tipoTramite === "NACIONAL" ? "INVIMA" : "Entidad Sanitaria"
          }}
        </p>
        <input type="date" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Estado Trámite</p>
        <select class="input-text">
          <option value="APROBADO">APROBADO</option>
          <option value="EN_REVISION">EN_REVISION</option>
          <option value="RECHAZADO">RECHAZADO</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha de llegada resol</p>
        <input type="date" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group requerimiento">
        <p class="label">
          ¿OK satisfactorio
          {{
            tramite.tipoTramite === "NACIONAL" ? "INVIMA" : "Entidad Sanitaria"
          }}?
        </p>
        <input type="checkbox" />
      </div>
      <div class="form-group">
        <p class="label"># RSA/NSA PAIS</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Vencimiento RSA</p>
        <input type="date" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Solicitado por</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Planta</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">OBSERVACIONES</p>
        <textarea class="input-text" rows="4"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Pagado / Factura No.</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <button style="width: 25%; margin: auto" (click)="submit()">
      Siguiente
    </button>
  </form>
</app-ar-layout>
