<app-ar-layout>
  <form class="form-tramite" (submit)="submit()">
    <div class="header">
      <p>Formulario de Información del Trámite</p>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Solicitado por</p>
        <input type="text" class="input-text" [value]="solicitud.solicitante.nombre" disabled />
      </div>
      <div class="form-group">
        <p class="label">Estado Trámite</p>
        <input type="text" class="input-text" [value]="solicitud.tramite.estado" disabled />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Solicitud</p>
        <input type="date" class="input-text" [value]="solicitud.fechaSolicitud | date: 'yyyy-MM-dd'" disabled />
      </div>
      <div class="form-group">
        <p class="label">Fecha Envío documentos</p>
        <input type="date" class="input-text" [value]="solicitud.fechaSolicitud | date: 'yyyy-MM-dd'" disabled />
      </div>
    </div>

    
    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Terminación Trámite</p>
        <input type="date" class="input-text" [value]="fechaTerminacion" disabled />
      </div>
      <div class="form-group">
        <p class="label">Fecha de Notificación</p>
        <input type="date" class="input-text" name="fechaNotificacion" [(ngModel)]="infoControl.fechaNotificacion" />
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <p class="label">País</p>
        <input type="text" class="input-text" [value]="solicitud.tramite.entidadSanitaria.pais" disabled />
      </div>
      <div class="form-group">
        <p class="label"># Intención (ID de seguimiento)</p>
        <input type="text" class="input-text" name="idSeguimiento" [(ngModel)]="infoControl.idSeguimiento" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Registro Sanitario (RSA)</p>
        <input type="text" class="input-text" name="registroSanitario" [(ngModel)]="infoControl.registroSanitario" />
      </div>
      <div class="form-group">
        <p class="label">Expediente RSA</p>
        <input type="text" class="input-text" name="expedienteRSA" [(ngModel)]="infoControl.expedienteRSA" />
      </div>
    </div>


    <div class="form-row">
      <div class="form-group">
        <p class="label"># RSA/NSA PAIS</p>
        <input type="text" class="input-text" name="numeroRSA" [(ngModel)]="infoControl.numeroRSA" />
      </div>
      <div class="form-group">
        <p class="label">Vencimiento RSA</p>
        <input type="date" class="input-text" name="fechaVencimientoRSA" [(ngModel)]="infoControl.fechaVencimientoRSA" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Planta</p>
        <input type="text" class="input-text" name="planta" [(ngModel)]="infoControl.planta" />
      </div>
      <div class="form-group">
        <p class="label">Pagado / Factura No.</p>
        <input type="text" class="input-text" name="numeroFactura" [(ngModel)]="infoControl.numeroFactura" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">OBSERVACIONES</p>
        <textarea class="input-text" rows="4" name="observaciones" [(ngModel)]="infoControl.observaciones"></textarea>
      </div>
    </div>


    <button style="width: 25%; margin: auto">
      Siguiente
    </button>
  </form>
</app-ar-layout>
