<app-ar-layout>
  <head>
    <link rel="stylesheet" href="./info-control.component.css" />
  </head>
  <form class="form-tramite">
    <div class="header">
      <p>Formulario de Información del Trámite</p>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Solicitado por</p>
        <input type="text" class="input-text" [value]="solicitud.solicitante.nombre" disabled />
      </div>
      <div class="form-group">
        <p class="label">Estado Trámite</p>
        <input type="text" class="input-text" [value]="solicitud.tramite.estado" disabled />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Solicitud</p>
        <input type="date" class="input-text" [value]="solicitud.fechaSolicitud | date: 'yyyy-MM-dd'" disabled />
      </div>
      <div class="form-group">
        <p class="label">Fecha Envío documentos</p>
        <input type="date" class="input-text" [value]="solicitud.fechaSolicitud | date: 'yyyy-MM-dd'" disabled />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Fecha Terminación Trámite</p>
        <input type="date" class="input-text" [value]="fechaTerminacion" disabled />
      </div>
      <div class="form-group">
        <p class="label">Fecha de Notificación</p>
        <input type="date" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">País</p>
        <input type="text" class="input-text" [value]="solicitud.tramite.entidadSanitaria.pais" disabled />
      </div>
      <div class="form-group">
        <p class="label"># Intención (ID de seguimiento)</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Registro Sanitario (RSA)</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Expediente RSA</p>
        <input type="text" class="input-text" />
      </div>
    </div>


    <div class="form-row">
      <div class="form-group">
        <p class="label"># RSA/NSA PAIS</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Vencimiento RSA</p>
        <input type="date" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">Planta</p>
        <input type="text" class="input-text" />
      </div>
      <div class="form-group">
        <p class="label">Pagado / Factura No.</p>
        <input type="text" class="input-text" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <p class="label">OBSERVACIONES</p>
        <textarea class="input-text" rows="4"></textarea>
      </div>
    </div>


    <button style="width: 25%; margin: auto" (click)="submit()">
      Siguiente
    </button>
  </form>
</app-ar-layout>
