<div class="header">
  <div class="title">
    <h1>Estadísticas</h1>
  </div>

  <div class="icons">
    
    <a routerLink="/notificaciones-admin"
      ><img src="images/Notificacion.png" alt="Icon 4" class="icono"
    /></a>
    <div class="dropdown">
      <a class="dropbtn">
        <img src="images/Usuario.png" alt="Icon 5" class="icono">
      </a>
      <div class="dropdown-content-alt">
        <div class="Cajaa"><a href="/perfil">Perfil</a></div>
        <div class="Cajaa"><a href="/login" (click)="logout(); $event.preventDefault()">Salir</a></div>
      </div>
    </div>
  </div>
</div>
