/****************CSS para el fondo**********************/
.PANTALLA {
  display: flex;
  height: 100%;
}
.estadisticas {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 420px; /* Ajusta según el ancho del contenedor de estadísticas */
  overflow-y: auto;
  padding-top: 20px; /* Espacio superior para evitar que el contenido quede oculto */
}

/****************CSS para datos de combobox**************/
.comboboxes {
  margin-bottom: 10px;
}

select {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-top: 10px;
}

.grafico-container {
  margin-top: 3%;
  height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/****************CSS para tabla de datos****************/
/* Estilos generales para la caja de estadísticas */
.Datos {
  position: fixed;
  top: 250px; /* Ajusta este valor para la distancia desde la parte superior */
  left: 110px; /* Ajusta este valor para la distancia desde la izquierda */
  width: 380px; /* Asegúrate de que este valor sea consistente con el diseño */
  margin: 0;
  padding: 20px;
  background-color: #e3e3f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(11, 227, 255, 0.1);
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.Datos h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Sección del total de trámites */
.total-section {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.large-number {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.nacionales-internacionales {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nacionales-internacionales div {
  width: 45%;
  text-align: center;
  font-size: 18px;
}

.small-number {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

.extra-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 16px;
}

.extra-info div {
  text-align: center;
  padding: 10px;
  background-color: #A3B6E6;
  border-radius: 6px;
}

/****************CSS para cajas 3x2*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerEst {
  display: inline-grid; /* Hace que el contenedor solo ocupe el espacio necesario en ambas direcciones */
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
  gap: 15px; /* Espaciado entre los elementos */
  grid-auto-rows: minmax(auto, max-content); /* Ajusta la altura de las filas al contenido */
  align-items: center; /* Alinea los elementos al inicio para que el tamaño de las filas dependa de ellos */
  justify-content: center;
  margin-bottom: 25px;
  background-color: #f9f9fb; /* Fondo claro para un look moderno */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 97%; /* Limita el ancho máximo del contenedor */
}

#cuadro-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  grid-template-rows: repeat(2, 1fr);    /* Dos filas */
  gap: 15px;
  width: 250%;
  height: 100%;
  border-radius: 12px;

}




.cuadro {
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #d3d3e8; /* Borde claro */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cuadro:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5252; /* Rojo brillante */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.remove-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

#add-btn {
  background-color: #4caf50; /* Verde claro */
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

#add-btn:hover {
  background-color: #388e3c; /* Verde más oscuro */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


/********************** TOGGLE ESTATICO VS DINAMICO*/
.toggle-option {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.focused {
  background-color: #a9afc1;
  color: #fff;
}

.toggle-container.active .toggle-option:last-child {
  background-color: #b3c7ff;
  color: #fff;
}

.toggle-container:not(.active) .toggle-option:first-child {
  background-color: #b3c7ff;
  color: #fff;
}
.toggle-container {
  margin-left: 44%;
  margin-top: 15px;
  margin-bottom: 15PX;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: #ccc;
  border: 2px solid #b3c7ff;
  cursor: pointer;
  width: 200px;
}

/***********************************gRAFICOS ESTATICOS****/
.static-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.static-chart {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.static-chart h2 {
  margin-bottom: 15px; /* Espacio entre el título y la gráfica */
  text-align: center; /* Centrar el título */
}

.double-width {
  grid-column: span 2;
}
