<app-ar-layout>
    <head>
        <link rel="stylesheet" href="apertura-tramite.component.css">
    </head>
    <form class="form-tramite">

        <div class="header">
            <p>Formulario apertura de tramite</p>
        </div>
        
        <div class="form-row">
            <div class="form-group">
                <p class="label">Nombre producto</p>
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>  
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

        
        <div class="form-row">
            <div class="form-group">
                <p class="label">PT</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

       
        <div class="form-row">
            <div class="form-group">
                <p class="label">Unidad de negocio</p>
            
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

        
        <div class="form-row">
            <div class="form-group">
                <p class="label">Número de proyecto SAP</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

        
        <div class="form-row">
            <div class="form-group">
                <p class="label">Nombre proyecto</p>
        
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

    
        <div class="form-row">
            <div class="form-group">
                <p class="label">Tipo de modificación</p>
    
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>

        
        <div class="form-row">
            <div class="form-group">
                <p class="label">Descripción del trámite</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text">
            </div>
            <div class="form-group requerimiento">
                <p class="label">Se requiere</p>
                <button type="button" class="btn-si">Si</button>
                <button type="button" class="btn-no">No</button>
            </div>
            <div class="form-group">
                <p class="label">Origen</p>
                <input type="text" class="input-text">
            </div>
        </div>
    </form>
</app-ar-layout>
