<app-ar-layout>
    <head>
        <link rel="stylesheet" href="apertura-tramite.component.css">
    </head>
    <form class="form-tramite" (submit)="submit()">
        <div class="header">
            <p>Formulario apwertura de tramite</p>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Número radicado</p>
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" disabled [value]="solicitud.tramite.numeroRadicado">
            </div>  
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Nombre</p>
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" disabled [value]="solicitud.tramite.nombreProducto">
            </div>  
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">PT</p>
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="pt" [(ngModel)]="solicitud.tramite.pt">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Unidad de negocio</p>
            
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="unidadNegocio" [(ngModel)]="solicitud.tramite.unidadNegocio">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Número de proyecto SAP</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="numProyectoSap" [(ngModel)]="solicitud.tramite.numProyectoSap">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Nombre proyecto</p>
        
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="proyecto" [(ngModel)]="solicitud.tramite.proyecto">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Tipo de modificación</p>
    
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="tipoModificacion" [(ngModel)]="solicitud.tramite.tipoModificacion">
            </div>
        </div>        
        <div class="form-row">
            <div class="form-group">
                <p class="label">Descripción del trámite</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="descripcionTramite"  disabled [value]="solicitud.tramite.descripcionProducto">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p class="label">Tipo trámite</p>
                
            </div>
            <div class="form-group">
                <p class="label">Datos:</p>
                <input type="text" class="input-text" name="claseTramite" disabled [value]="solicitud.tramite.tipoProducto">
            </div>
        </div>
        <button style="width: 25%; margin: auto;">Siguiente</button>
    </form>
</app-ar-layout>
