<nav>
  <ul>
    <li class="nav-item">
      <a routerLink="/cuadro-control"
      ><img src="images/cuadro-control.png" alt="Cuadro control" class="icono" />
        <p>Control</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/estadisticas"
        ><img src="images/Estadisticas.png" alt="Estadísticas" class="icono" />
        <p>Estadisticas</p>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a routerLink="/historial"
        ><img src="images/Historial.png" alt="Historial" class="icono" />
        <p>Historial</p>
      </a>
    </li> -->
  </ul>
  <div class="sidebar-footer">
    <p>{{ usuarioDTO.nombre }}</p>
    <p>ADMIN</p>
  </div>
</nav>
