<app-ar-layout>
  <div class="tablas">
    <!-- Tabla 1: Tramites Sanitarios Nacionales -->
    <div class="ContenedorPendientes">
      <div class="TituloTabla">
        <h2>Tramites Sanitarios Nacionales</h2>
        <button
          (click)="toggleTabla(); $event.preventDefault()"
          class="Desplegar"
        >
          <img src="images/Desplegar.png" class="Desplegable" />
        </button>
      </div>

      <ng-container class="pendientes" *ngIf="mostrarTabla1">
        <table>
          <tr *ngFor="let tramite of tramites">
            <ng-container *ngIf="tramite.tipoTramite == 'NACIONAL'">
              <td>
                <i *ngIf="tramite.estado === 'APROBADO'" class="estatus hecho"></i>
                <i *ngIf="tramite.estado === 'RECHAZADO'" class="estatus rechazado"></i>
                <i *ngIf="tramite.estado === 'PENDIENTE'" class="estatus pendiente"></i>
                <i *ngIf="tramite.estado === 'EN_REVISION'" class="estatus pendiente"></i>
              </td>

              <td>
                <div class="registro">
                  <a routerLink="/info-tramite">{{ tramite.numeroRadicado }}</a>
                  <div class="EstadoText">
                    <h2>{{ tramite.estado }}</h2>
                  </div>
                </div>
                <p class="progress-percent">{{ tramite.progreso }}%</p>
                <div class="progress-bar">
                  <div
                    class="progress"
                    [style.width.%]="getProgresoEntero(tramite.progreso)"
                    [ngClass]="getProgressClass(tramite.progreso)"
                  ></div>
                </div>
                <p>{{ tramite.fechaRadicacion }}</p>
              </td>
            </ng-container>
          </tr>
        </table>
      </ng-container>
    </div>

    <!-- Tabla 2: Tramites Sanitarios Internacionales -->
    <div class="ContenedorPendientes">
      <div class="TituloTabla">
        <h2>Tramites Sanitarios Internacionales</h2>
        <button
          (click)="toggleTabla2(); $event.preventDefault()"
          class="Desplegar"
        >
          <img src="images/Desplegar.png" class="Desplegable" />
        </button>
      </div>

      <ng-container class="pendientes" *ngIf="mostrarTabla2">
        <table>
          <tr *ngFor="let tramite of tramites">
            <ng-container *ngIf="tramite.tipoTramite == 'INTERNACIONAL'">
              <td>
                <i *ngIf="tramite.estado === 'APROBADO'" class="estatus hecho"></i>
                <i *ngIf="tramite.estado === 'RECHAZADO'" class="estatus rechazado"></i>
                <i *ngIf="tramite.estado === 'PENDIENTE'" class="estatus pendiente"></i>
                <i *ngIf="tramite.estado === 'EN_REVISION'" class="estatus pendiente"></i>
              </td>

              <td>
                <div class="registro">
                  <a routerLink="/info-tramite">{{ tramite.numeroRadicado }}</a>
                  <div class="EstadoText">
                    <h2>{{ tramite.estado }}</h2>
                  </div>
                </div>
                <p class="progress-percent">{{ tramite.progreso }}%</p>
                <div class="progress-bar">
                  <div
                    class="progress"
                    [style.width.%]="getProgresoEntero(tramite.progreso)"
                    [ngClass]="getProgressClass(tramite.progreso)"
                  ></div>
                </div>
                <p>{{ tramite.fechaRadicacion }}</p>
              </td>
            </ng-container>
          </tr>
        </table>
      </ng-container>

      <!-- Botón para navegar a /documentos/:id -->
      <div class="navegacion-documentos">
        <button (click)="navegarADocumentos(1)">
          Ver Documentos de Tramite Seleccionado
        </button>
      </div>
    </div>
  </div>
</app-ar-layout>
