.notification-center-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Barra de navegación superior */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #03045E;
  color: #fff;
  margin: 0;  /* Elimina cualquier margen */
  width: 100%; /* Asegura que ocupe todo el ancho */
  position: relative; /* Ayuda a mantener el header en su lugar */
  margin-top: -250px
}

#notificationChart {
  width: 300px; /* Ajusta el ancho según sea necesario */
  height: 300px; /* Ajusta la altura según sea necesario */
  margin: auto; /* Centra el gráfico en el contenedor */
  display: block;
}

.chart-container {
  width: 300px; /* Ajusta este tamaño a lo necesario */
  height: 300px;
  margin: auto; /* Esto mantiene el contenedor centrado */
  overflow: hidden; /* Evita que el contenido se salga si excede el tamaño */
}


header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

/* Contenedor principal */
.main-container {
  margin-top: 1rem;
  display: column;
  gap: 2rem;
  margin: 2rem;
}

/* Panel de notificaciones */
.notification-panel {
  flex-grow: 1;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

/* Tarjeta de notificación */
.notification-card {
  transition: transform 0.2s;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.notification-card h2 {
  font-size: 1.25rem;
  color: #333;
}

.notification-card .date {
  font-size: 0.9rem;
  color: #888;
}

.notification-card .status {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.notification-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notification-card textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 0.9rem;
}


.status-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.status-circle.unread {
  background-color: red;
}

.status-circle.read {
  background-color: green;
}

/* Controles de Paginación */
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button {
  background-color: #a3b6e6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-button:hover:not(:disabled) {
  background-color: #7f99d6;
}

.info-page {
  text-align: center;
  font-size: 14px;
  color: #555;
}
