<app-ar-layout>
  <div id="page">
    <div class="containerint">
      <h1>Información del Trámite</h1>

      <div class="info-section">
        <div class="info-box">
          <!-- Información del Trámite -->
          <strong>ID Trámite:</strong>
          <p>{{ solicitud.tramite.id }}</p>
          <strong>Numero Radicado:</strong>
          <p>{{ solicitud.tramite.numeroRadicado }}</p>
          <strong>Estado:</strong>
          <p>{{ solicitud.tramite.estado }}</p>
          <strong>Fecha Radicación:</strong>
          <p>{{ solicitud.tramite.fechaRadicacion | date }}</p>
          <strong>Tipo de Trámite:</strong>
          <p>{{ solicitud.tramite.tipoTramite }}</p>
        </div>

        <div class="info-box">
          <!-- Información de la Entidad Sanitaria -->
          <strong>ID Entidad Sanitaria:</strong>
          <p>{{ solicitud.tramite.entidadSanitaria?.id }}</p>
          <strong>Nombre de Entidad Sanitaria:</strong>
          <p>{{ solicitud.tramite.entidadSanitaria?.nombre }}</p>
          <strong>País:</strong>
          <p>{{ solicitud.tramite.entidadSanitaria?.pais }}</p>
        </div>

        <div class="info-box">
          <!-- Información de la Solicitud -->
          <strong>Descripción del Producto:</strong>
          <p>{{ solicitud.tramite.descripcionProducto }}</p>
          <strong>Tipo de Producto:</strong>
          <p>{{ solicitud.tramite.tipoProducto }}</p>
          <strong>Fecha de Solicitud:</strong>
          <p>{{ solicitud.tramite.fechaRadicacion | date }}</p>
        </div>
      </div>

      @if (solicitud.tramite.etapa[1] !== "1" &&
      solicitud.tramite.etapa[1] !== "8") {
        <h2>Continuar diligenciado trámite</h2>
        <button
          class="btn-primary"
          style="margin-top: 1rem"
          (click)="continuar()"
        >
          {{ cambiarEtapa(solicitud.tramite.etapa) }}
        </button>
      } @else {
        <h2>En espera de resolución etapa {{ solicitud.tramite.etapa }}</h2>
      }

      <ng-container *ngIf="solicitud.tramite.estado === 'RECHAZADO' && mostrarBoton">
        <button (click)="escalarTramite()" class="btn-primary">Escalar</button>
      </ng-container>
    </div>
  </div>
</app-ar-layout>
