<div class="fondo">
  <div class="login-container">
    <div class="login-box">
      <img src="images/logo.png" alt="Logo" class="logo" />
      <form (ngSubmit)="onSubmit()">
        <label for="username">Usuario:</label>
        <input
          type="text"
          id="username"
          placeholder="Usuario"
          [(ngModel)]="username"
          name="username"
          required
        />
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button
          type="submit"
          class="fl"
          style="display: flex; justify-content: center; align-items: center"
          [disabled]="loading"
        >
          Ingresar
          <app-loader *ngIf="loading" color="white"></app-loader>
        </button>
        <!-- <div class="toggle-options">
          <div class="switch">
            <div class="activar">
              <input type="radio" name="gooey-switch" id="gooey-switch-1" />
              <label for="gooey-switch-1">On/Off</label>
            </div>
            <h2>Recordar Usuario y contraseña</h2>
          </div>
          <div class="switch">
            <div class="activar">
              <input type="radio" name="gooey-switch" id="gooey-switch-2" />
              <label for="gooey-switch-2">On/Off</label>
            </div>
            <h2>Recordar Usuario</h2>
          </div>
          <div class="switch">
            <div class="activar">
              <input type="radio" name="gooey-switch" id="gooey-switch-3" />
              <label for="gooey-switch-3">On/Off</label>
            </div>
            <h2>Siempre preguntar por Usuario y contraseña</h2>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
