nav {
  width: 100%;
  background-color: #A3B6E6;
  height: 100%;
  padding-top: 5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.icono{
  margin: auto;
  height: 37px;
}

nav ul li:hover {
  background-color: #b9c7ea;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  text-wrap: wrap;
  text-align: center;
}
