<app-solicitante-layout>
  <div id="page">
    <div class="container">
      <div class="titulo">
        <h2>Notificaciones</h2>
        <div>
          <table>
            <thead>
              <th>ID</th>
              <th>Estado</th>
              <th>Mensaje</th>
              <th>Tipo notificación</th>
            </thead>
            <tbody>
              <tr *ngFor="let notificacion of notificaciones">
                <td>{{ notificacion.id }}</td>
                <td>{{ notificacion.mensaje }}</td>
                <td>{{ notificacion.fecha }}</td>
                <td>{{ notificacion.destinatario }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-solicitante-layout>
