/* Contenedor principal */
.container {
  width: 100%;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f6fb; /* Fondo suave para todo el contenedor */
  padding: 20px;
}

/* Título principal */
h2 {
  background-color: #A3B6E6;
  padding: 20px;
  color: black;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 28px; /* Tamaño de fuente del título */
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el título */
}

/* Contenedor de documentos */
.documentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 700px; /* Ajusta el ancho máximo */
  margin-top: 20px;
}

/* Cada documento individual */
.documento {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.documento:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Botón Revisar */
.btn-revisar {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.btn-revisar:hover {
  background-color: #0056b3;
}

.btn-regresar {
  position: absolute;
  bottom: 70px; /* Posiciona a 20px de la parte inferior del contenedor */
  left: 100px; /* Posiciona a 20px del lado izquierdo */
  padding: 8px 12px; /* Espaciado interno */
  background-color: #A3B6E6; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 0.9em; /* Tamaño de texto */
  transition: background-color 0.3s;
}

.btn-continuar {
  position: absolute;
  bottom: 70px; /* Posiciona a 20px de la parte inferior del contenedor */
  right: 100px; /* Posiciona a 20px del lado izquierdo */
  padding: 8px 12px; /* Espaciado interno */
  background-color: #A3B6E6; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 0.9em; /* Tamaño de texto */
  transition: background-color 0.3s;
}

.btn-regresar:hover {
  background-color: #8fa7e3;
}

.btn-continuar:hover {
  background-color: #8fa7e3;
}

