
<div class="container">
  <h2 class="titulo">Lista de Documentos</h2>
    <div class="documentos">
      <div class="documento">
          <strong>Documento 1:</strong> Informe Anual.pdf
          <button class="btn-revisar" onclick="window.location.href='revision'" >Revisar</button>
      </div>
      <div class="documento">
          <strong>Documento 2:</strong> Plan de Proyecto.docx
          <button class="btn-revisar" onclick="window.location.href='revision'">Revisar</button>
      </div>
      <div class="documento">
          <strong>Documento 3:</strong> Presentación.pptx
          <button class="btn-revisar" onclick="window.location.href='revision'">Revisar</button>
      </div>
    </div>

  <button class="btn-regresar" (click)="regresar()">Regresar</button>
  <button class="btn-continuar" (click)="continuar()">Continuar</button>
</div>





