<div class="container">
  <h2 class="titulo">Lista de Documentos</h2>
  <div class="documentos">
    <div *ngFor="let documento of documentos" class="documento">
      <strong>{{ documento.name }}:</strong>
      <button class="btn-revisar" (click)="revisarDocumento(documento.id)">Revisar</button>
    </div>
  </div>
  <button class="btn-regresar" onclick="window.location.href='revision'">Regresar</button>
  <button class="btn-continuar" onclick="window.location.href='correo'">Continuar</button>
</div>
