<app-header></app-header>

<div class="container">

  <app-lateral></app-lateral>

  <div class="contenedor">

    <app-barra-opc></app-barra-opc>

    <div class="containerint">
      <h1>Información del Trámite</h1>

      <!-- Asegurarnos de que 'tramite' esté definido antes de acceder a sus propiedades -->
      <div class="info-section" *ngIf="tramite">
        <div class="info-box"><!--TRAMITE-->
          <strong>ID Trámite:</strong> <p>{{ tramite?.id }}</p>
          <strong>Numero Radicado:</strong> <p>{{ tramite?.numeroRadicado }}</p>
          <strong>Estado:</strong> <p>{{ tramite?.estado }}</p>
          <strong>Fecha de Radicación:</strong> <p>{{ tramite?.fechaRadicacion }}</p>
          <strong>Tipo de Trámite:</strong> <p>{{ tramite?.tipoTramite }}</p>
        </div>
        <div class="info-box"><!--ENTIDAD SANITARIA-->
          <strong>ID:</strong> <p>{{ tramite?.entidadSanitaria?.id }}</p>
          <strong>Nombre de Entidad Sanitaria:</strong> <p>{{ tramite?.entidadSanitaria?.nombre }}</p>
          <strong>País:</strong> <p>{{ tramite?.entidadSanitaria?.pais }}</p>
        </div>
        <div class="info-box"><!--SOLICITUD-->
          <strong>Descripción del Producto:</strong> <p>{{ tramite?.solicitud?.descripcionProducto }}</p>
          <strong>Tipo de Producto:</strong> <p>{{ tramite?.solicitud?.tipoProducto }}</p>
          <strong>Fecha de Solicitud:</strong> <p>{{ tramite?.solicitud?.fechaSolicitud }}</p>
        </div>
        <div class="info-box"><!--SOLICITANTE-->
          <strong>Solicitud Enviada por:</strong> <p>{{ tramite?.solicitud?.solicitante?.nombre }}</p>
          <strong>Correo Electrónico:</strong> <p>{{ tramite?.solicitud?.solicitante?.correoElectronico }}</p>
        </div>
      </div>

      <h2>Archivos del Trámite</h2>

      <ul *ngIf="archivos && archivos.length > 0">
        <li *ngFor="let archivo of archivos | slice:0:3">
          <a (click)="descargarArchivo(archivo.name)">{{ archivo.name }}.pdf</a>
        </li>
      </ul>

      <!-- Mostrar más archivos si existen más de 3 -->
      <ng-container *ngIf="archivos?.length > 3">
        <button (click)="toggleMostrarTodos()">{{ mostrarTodos ? 'Mostrar menos' : 'Mostrar más' }}</button>

        <ul *ngIf="mostrarTodos">
          <li *ngFor="let archivo of archivos | slice:3">
            <a (click)="descargarArchivo(archivo.name)">{{ archivo.name }}.pdf</a>
          </li>
        </ul>
      </ng-container>


      <h2>Registros del Trámite</h2><!--DOCUMENTOS-->
      <table *ngIf="tramite?.documentos?.length > 0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Fecha de Registro</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let documento of tramite?.documentos">
          <td>{{ documento?.id }}</td>
          <td>{{ documento?.tipo }}</td>
          <td>{{ documento?.aprobado }}</td>
          <td><a href="{{ documento?.tempUrl }}" target="_blank">{{ documento?.tempUrl }}</a></td>
        </tr>
        </tbody>
      </table>

      <ng-container *ngIf="tramite?.estado === 'RECHAZADO' && mostrarBoton">
        <button (click)="escalarTramite()" class="btn-primary">Escalar</button>
      </ng-container>

    </div>

    <!--CORTA-->
  </div>
</div>
